<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1>Welcome to <%= title %></h1>
    <p>Select a vehicle to rent:</p>
    <ul>
        <li><a href="/vehicle/1">Car</a></li>
        <li><a href="/vehicle/2">Bike</a></li>
        <li><a href="/vehicle/3">Scooter</a></li>
    </ul>
    <a href="/select">Go to Vehicle Selection</a>
</body>
</html>
