<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1>Vehicle Selection</h1>
    <ul>
        <li>Car</li>
        <li>Bike</li>
        <li>Scooter</li>
    </ul>
</body>
</html>
